/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl-influencer-web/CompanySettings/.env2
# auto generated wildcard
knpl-influencer-web/LoyaltyManagement/.env1