/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl-influencer-web/CompanySettings/.env2
# auto generated wildcard
knpl-influencer-web/newmdm/.env1
# auto generated wildcard
knpl-influencer-web/newmdm/.env2