/node_modules/
/dist/
# auto generated wildcard
debasisa_web/Manage_Notifications/.env2
# auto generated wildcard
training/Training_Learning/.env9
# auto generated wildcard
training/Training_Learning/.env10
# auto generated wildcard
Training/Training_Learning/.env11
# auto generated wildcard
FAQ/Manage_FAQ/.env3
# auto generated wildcard
knpl-influencer-web/Training_Learning/.env13
# auto generated wildcard
knpl-influencer-web/Training_Learning/.env1
# auto generated wildcard
knpl-influencer-web/portfolio/.env1
# auto generated wildcard
knpl-influencer-web/ContactPainter/.env4