/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl-cp/Complaints/.env1
# auto generated wildcard
knpl-cp/ContactPainter/.env14
# auto generated wildcard
knpl-complaints/ComplaintManagement/.env2
# auto generated wildcard
knpl-complaints/Complaints/.env3