/* Global css here */
.sapUiAFLayout .sapUiAFLayoutItem:first-child .sapMLabelTextWrapper::after {
    content: "" !important;
}

.sapFDynamicPageTitleTop {
    height: 100%;
}

.statusTextSizeLarge {
    font-size: larger;
}
