/mta_archives/
/node_modules/
/resources/

*.env1
*.zip
.vscode/

*/dist/

# auto generated wildcard
Manage_FAQ/.env
# auto generated wildcard
OrgModule/.env
# auto generated wildcard
Manage_FAQ/.env6

# auto generated wildcard
knpl-influencer-web/MasterDataManagement/.env

# auto generated wildcard
knpl1/MasterDataManagement/.env10
# auto generated wildcard
knpl1/ContactPainter/.env7
# auto generated wildcard
ZSampGWCnct/GatewaySrvTest/.env3
# auto generated wildcard
ZSampGWCnct/GatewaySrvTest/.env4
# auto generated wildcard
knpl1/MasterDataManagement/.env11
# auto generated wildcard
knpl1/ContactPainter/.env8
# auto generated wildcard
ZSample2/HTML5Module/.env2
# auto generated wildcard
knpl1/MasterDataManagement/.env12
# auto generated wildcard
knpl-influencer-web/MasterDataManagement/.env13