/mta_archives/
/node_modules/
/resources/

*.env1
*.zip
*/dist/
.vscode/
# auto generated wildcard
knpl-influencer-web/Admin/.env
# auto generated wildcard
knpl-influencer-web/Manage_FAQ/.env
# auto generated wildcard
knpl-influencer-web/Manage_Painter/.env
# auto generated wildcard
knpl-influencer-web/Manage_FAQ/.env2