/mta_archives/
/node_modules/
/resources/

*.env1
*.zip
.vscode/
# auto generated wildcard
Manage_FAQ/.env
# auto generated wildcard
OrgModule/.env
# auto generated wildcard
Manage_FAQ/.env6
/dist/
# auto generated wildcard
knpl-influencer-web/MasterDataManagement/.env
