/* Global css here */
.sapUiAFLayout .sapUiAFLayoutItem:first-child .sapMLabelTextWrapper::after {
    content: "" !important;
}

.sapFDynamicPageTitleTop {
    height: 100%;
}

.actionPage .sapUiFormElementLbl {
    margin-top: 0.5rem;
}

.valueHelpDialog {
    max-width: 29rem !important;
}

.toolStatus {
    margin-top: 1px !important;
}
