/node_modules/
/dist/

# auto generated wildcard
knpl-influencer-web/Catelogue/.env1
# auto generated wildcard
knpl-influencer-web/CompanySettings/.env2
# auto generated wildcard
knpl-influencer-web/newmdm/.env1
# auto generated wildcard
knpl-influencer-web/newmdm/.env2