/node_modules/
/dist/

# auto generated wildcard
debasisa_web/Training_Learning/.env1
# auto generated wildcard
debasisa_web/Manage_FAQ/.env3
# auto generated wildcard
debasisa_web/Manage_FAQ/.env4
# auto generated wildcard
debasisa_web/Training_Learning/.env2
# auto generated wildcard
debasisa_web/Manage_FAQ/.env5

# auto generated wildcard
MDM/.env2