/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/

# auto generated wildcard
knpl-influencer-web/LoyaltyManagement/.env
# auto generated wildcard
LoyaltyManagement/.env
# auto generated wildcard
MasterDataManagement/.env18
# auto generated wildcard
knpl-influencer-web/LoyaltyManagement/.env1