/node_modules/
/dist/

# auto generated wildcard
knpl-influencer-web/SchemeOffers/.env
# auto generated wildcard
LoyaltyManagement/.env
# auto generated wildcard
MasterDataManagement/.env18
# auto generated wildcard
knpl-influencer-web/Tools/.env
# auto generated wildcard
knpl-complaints1/Complaints/.env1
# auto generated wildcard
knpl-cp/ContactPainter/.env1
# auto generated wildcard
complaints/Complaints/.env1
# auto generated wildcard
knpl-influencer-web/Complaints/.env1
# auto generated wildcard
knpl-influencer-web/Complaints/.env2