/node_modules/
/dist/

*.env*
*.env1
*.zip
.vscode/
*.env*
*/dist/
/.gitignore


# auto generated wildcard
knpl-influencer-web/SchemeOffers/.env
# auto generated wildcard
LoyaltyManagement/.env
# auto generated wildcard
MasterDataManagement/.env18
# auto generated wildcard
knpl-influencer-web/Tools/.env
# auto generated wildcard
SchemeOffers/SchemeOffers/.env1
# auto generated wildcard
cp/ContactPainter/.env12
# auto generated wildcard
knpl-influencer-web/SchemeOffers/.env1
# auto generated wildcard
complains/Complaints/.env1