/mta_archives/
/node_modules/
/resources/

 

*.env1
*.zip
.vscode/
# auto generated wildcard
Manage_FAQ/.env
# auto generated wildcard
knpl-influencer-web/ContactPainter/.env14
# auto generated wildcard
Knpl-complaints/ContactPainter/.env14
# auto generated wildcard
knpl-influencer-web/ContactPainter/.env15
# auto generated wildcard
Knpl-complaints/ComplaintManagement/.env2
