/mta_archives/
/node_modules/
/resources/
/dist/
 

*.env1
*.zip
.vscode/

# auto generated wildcard
knpl-influencer-web/redeempoints/.env2
# auto generated wildcard
knpl-influencer-web/ContactPainter/.env4