node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
knpl-influencer-web/groupnotifications/.env1
# auto generated wildcard
groupnotifications/.env2