/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl-influencer-web/Catelogue/.env1
# auto generated wildcard
knpl-influencer-web/CompanySettings/.env2
# auto generated wildcard
SchemeOffers/SchemeOffers/.env1
# auto generated wildcard
cp/ContactPainter/.env12
# auto generated wildcard
knpl-influencer-web/SchemeOffers/.env1
# auto generated wildcard
complains/Complaints/.env1