/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl-influencer-web/Catelogue/.env1
# auto generated wildcard
knpl-influencer-web/CompanySettings/.env2
# auto generated wildcard
Demo/debasisa_web/Training_Learning/.env1
# auto generated wildcard
knpl-influencer-web/MasterDataManagement/.env15
# auto generated wildcard
MDM/.env2