/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl1/MasterDataManagement/.env10
# auto generated wildcard
knpl1/ContactPainter/.env7
# auto generated wildcard
OrganizationSetup/.env1
# auto generated wildcard
DealerManagement/.env4
# auto generated wildcard
DealerManagement/.env5
