/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
knpl-influencer-web/OrganizationSetup/webapp/.env
# auto generated wildcard
knpl-influencer-web/OrgModule/.env10
# auto generated wildcard
knpl-influencer-web/OrganizationSetup/.env1
# auto generated wildcard
knpl-influencer-web/OrganizationSetup/.env