/node_modules/
/dist/

# auto generated wildcard
Training/Training_Learning/.env11
# auto generated wildcard
FAQ/Manage_FAQ/.env3
# auto generated wildcard
knpl-influencer-web/Training_Learning/.env13
# auto generated wildcard
knpl-influencer-web/Training_Learning/.env1