/node_modules/
/dist/

# auto generated wildcard
knpl-influencer-web/LoyaltyManagement/.env
# auto generated wildcard
LoyaltyManagement/.env
# auto generated wildcard
MasterDataManagement/.env18
# auto generated wildcard
knpl-influencer-web/Tools/.env
# auto generated wildcard
SchemeOffers/SchemeOffers/.env1
# auto generated wildcard
cp/ContactPainter/.env12